{% extends "_layout-statistics.njk" %}

{% set primaryNavId = "statistics" %}
{% set title = "Statistics (v2)" %}

{% block pageTitle %}
{{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{- title -}}
      </h1>

      <h2 class="govuk-heading-m">
        Applications
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/statistics/v2/courses-by-year">Courses by year</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/statistics/v2/courses-by-status">Courses by status</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/statistics/v2/courses-by-training-provider">Courses by training provider</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/statistics/v2/courses-by-training-location">Courses by training location</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/statistics/v2/courses-by-reasons-for-rejection">Courses by reasons for rejection</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/statistics/v2/course-performance">Courses performance</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/statistics/v2/course-diversity-sex">Courses diversity - sex</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/statistics/v2/course-diversity-ethnicity">Courses diversity - ethnicity</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/statistics/v2/course-diversity-nationality">Courses diversity - nationality</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        Candidates
      </h2>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/statistics/v2/candidate-nationality">Candidate diversity - nationality</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/statistics/v2/residence">Residence</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/statistics/v2/right-to-work">Right to work or study in the UK</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/statistics/v2/english-language-qualification">English language qualification</a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}
