{% extends "_layout.njk" %}

{% set title = "Statistics (v2)" %}

{% block pageTitle %}
{{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{- title -}}
      </h1>

      

    </div>
  </div>
{% endblock %}
