{% extends "_layout.njk" %}

{% set primaryNavId = "statistics" %}
{% set sectionName = "Application" %}
{% set pageName = "Reasons for rejection" %}

{% set title = (sectionName + " " + pageName)  | capitalize %}

{% block pageTitle %}
{{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [{
    href: "/statistics/v1",
    text: "Statistics"
  }, {
    text: title
  }]
}) }}
{% endblock %}

{% block content %}

  {% include "./includes/header.njk" %}


{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/components/filter-toggle-button/filter-toggle-button.js"></script>
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })
  </script>

{% endblock %}
